*{
  margin: 0;
  padding: 0;
  font-size: inherit;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
body{
  font-family: MVideo, Opsans-serif ,sans-serif;
}

$bold: 700;
$regular: 400;
$light: 300;
$color-white: #fff;
$color-black: #000;


@mixin max-screen($res) {
  @media screen and (max-width: $res) {
    @content;
  }
}


.main_h2{
  font-size: 36px;
  color: #e56abb;
  text-transform: uppercase;
  margin-bottom: 65px;
  padding-top: 60px;
  font-weight: $bold;
  @include max-screen(768px){
    font-size: 25px;
    margin-bottom: 30px;
    padding-top: 30px;
  }
  @include max-screen(420px){
    font-size: 20px;
    margin-bottom: 15px;
    padding-top: 15px;
  }
}

header{
  .header-top{
    max-width: 1122px;
    padding: 15px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    @include max-screen(768px){
      display: block;
      max-width: 500px;
      text-align: center;
    }
    .header-logo{
      max-width: 240px;
      max-height: 100px;
      @include max-screen(768px){
        display: inline-block;
        max-width: 200px;
        max-height: 70px;
      }
      @include max-screen(420px){
        max-width: 130px;
        max-height: 50px;
      }
      img{
        width: 100%;
        height: 100%;
      }
    }
    .header-address{
      padding-top: 22px;
      display: flex;
      justify-content: space-between;
      @include max-screen(420px){
        display: none;
      }
      .phone,.address{
        display: flex;
        margin-left: 45px;
      }
      .fas{
        font-size: 36px;
        color: #137893 ;
      }
      h3{
        font-size: 16px;
        color: #137893;
        margin-left: 10px;
        font-weight: $regular;
      }
    }
  }

  nav{
    width: 100%;
    background: #1d5e91;
    padding: 15px;
    text-align: center;
    ul{
      li{
        display: inline-block;
        margin: 0 25px;
        border: 1px solid transparent;
        @include max-screen(768px){
          margin: 10px 5px;
          border-right: 1px solid $color-white;
          padding-right: 15px;
        }
        @include max-screen(420px){
          display: inline-block;
        }
        &:hover{
          border-bottom: 1px solid $color-white;
        }
        a{
          color: $color-white;
          font-size: 18px;
          text-transform: uppercase;
          font-weight: $bold;
          @include max-screen(920px){
            font-size: 15px;
          }
        }
      }
    }
  }
}
.new-year{
  background-image: url("../images/bg-carousel.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
  text-align: center;
  text-transform: uppercase;
  padding: 65px;
  @include max-screen(768px){
    padding: 30px;
  }
  @include max-screen(420px){
    padding: 15px;
  }
  h1{
    font-size: 73px;
    color: $color-white;
    margin-bottom: 65px;
    @include max-screen(768px){
      font-size: 35px;
      margin-bottom: 30px;
    }
    @include max-screen(420px){
      font-size: 25px;
      margin-bottom: 15px;
    }
  }
  h2{
    font-size: 36px;
    color: $color-white;
    margin-bottom: 60px;
    @include max-screen(768px){
      font-size: 18px;
      margin-bottom: 30px;
    }
    @include max-screen(420px){
      font-size: 15px;
      margin-bottom: 15px;
    }
  }
  .new-year-date{
    display: flex;
    justify-content: center;
    margin: auto;
    padding-bottom: 85px;
    @include max-screen(768px){
      padding-bottom: 30px;
    }
    @include max-screen(420px){
      display: block;
      text-align: center;
    }
    h3{
      font-size: 23px;
      color: $color-white;
      margin-left: 10px;
      display: flex;
      align-self: center;
      font-weight: $regular;
      @include max-screen(768px){
        font-size: 12px;
      }
    }
    .new-year-i{
      display: flex;
      margin-left: 50px;
      @include max-screen(768px){
        margin-left: 25px;
      }
      @include max-screen(420px){
        margin-bottom: 15px;
        margin-left: 0;
        justify-content: center;
      }
      .mountains{
        max-width: 60px;
        max-height: 36px;
        display: flex;
        align-self: center;
        @include max-screen(768px){
          max-height: 18px;
          max-width: 30px;
        }
        img{
          width: 100%;
          height: 100%;
        }
      }
      .far{
        font-size: 24px;
        color: $color-white;
        display: flex;
        align-self: center;
        @include max-screen(768px){
          font-size: 12px;
        }
      }
    }
  }
  a{
    padding: 25px 65px;
    color: $color-white;
    text-transform: uppercase;
    background: #ce4da2;
    border-radius: 8px;
    font-size: 23px;
    display: inline-block;
    font-weight: $bold;
    @include max-screen(768px){
      padding: 12px 30px;
      border-radius: 4px;
      font-size: 12px;
    }
  }
}
.container-maps{
  max-width: 1140px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 60px;
  @include max-screen(768px){
    max-width: 90%;
    display: block;
    text-align: center;
  }
  @include max-screen(420px){
    padding: 15px;
  }
  .maps-img{
    max-width: 600px;
    max-height: 350px;
    display: inline-block;
    @include max-screen(768px){
      max-width: 300px;
      max-height: 150px;
    }
    img{
      width: 100%;
      height: 100%;
    }
  }
  .maps-achievements{
    ul{
      @include max-screen(768px){
        margin-top: 20px;
        margin-left: 25%;
        text-align: left;
        margin-bottom: 20px;
      }
      @include max-screen(420px){
        margin: 0;
        text-align: center;
      }
      li{
        list-style: none;
        color: $color-black;
        font-size: 18px;
        text-transform: uppercase;
        margin-bottom: 30px;
        font-weight: $bold;
        @include max-screen(768px){
          font-size: 12px;
          margin-bottom: 15px;
        }
        @include max-screen(420px){
          text-align: left;
          font-size: 10px;
        }
        &:before{
          content: "";
          display: inline-block;
          color: #137893;
          font-size: 30px;
          margin-right: 22px;
          width: 120px;
          text-align: right;
          @include max-screen(768px){
            font-size: 15px;
            margin-right: 12px;
            width: 70px;
          }
          @include max-screen(420px){
            font-size: 12px;
          }
        }
      }
      li:first-of-type{
        &:before{
          content: "4";
        }
      }
      li:nth-child(2){
        &:before{
          content: "10";
        }
      }
      li:nth-child(3){
        &:before{
          content: "+120";
        }
      }
      li:nth-child(4){
        &:before{
          content: "+6000";
        }
      }
      li:last-of-type{
        &:before{
          content: "+600000";
        }
      }
    }
    .maps-progressbar{
      display: flex;
      @include max-screen(768px){
        justify-content: space-between;
      }
      @include max-screen(420px){
        display: block;
      }
      .maps-progressbar-right{
        @include max-screen(420px){
          margin-top: 20px;
        }
      }
      .maps-progressbar-left,.maps-progressbar-right{
        display: flex;
        .progressbar-left,.progressbar-right{
          background-image: url("../images/progressbar-1.png");
          background-repeat: no-repeat;
          width: 63px;
          height: 63px;
          overflow: hidden;
          text-align: center;
          padding-top: 20px;
          margin-right: 5px;
          h4{
            font-size: 18px;
            color: $color-black;
          }
          p{
            font-size: 16px;
            color: $color-black;
            line-height: 20px;
            display: inline-block;
            font-weight: $regular;
            @include max-screen(768px){
              font-size: 10px;
            }
          }
        }
        .progressbar-p{
          width: 140px;
        }
        .progressbar-right{
          background-image: url("../images/progressbar-2.png");
          margin-left: 30px;
          @include max-screen(420px){
            margin-left: 0;
          }
        }
      }
    }
  }
}
.what-is-included{
  background: #f9f8f4;
  .container-what{
    max-width: 1140px;
    margin: auto;
    text-align: center;
    padding: 65px;
    @include max-screen(768px){
      max-width: 90%;
      padding: 30px;
    }
    @include max-screen(420px){
      padding: 0;
    }
    .what-block{
      display: flex;
      justify-content: space-between;
      @include max-screen(768px){
        flex-wrap: wrap;
        align-content: stretch;
        width: 100%;
      }
      @include max-screen(420px){
        display: block;
        text-align: center;
      }
      .block{
        width: 25%;
        margin: 15px;
        @include max-screen(768px){
          width: 40%;
        }
        @include max-screen(420px){
          width: auto;
        }
        .block-img{
          margin-bottom: 15px;
          width: 127px;
          height: 127px;
          border-radius: 50%;
          overflow: hidden;
          display: inline-block;
          img{
            width: 100%;
            height: 100%;
          }
        }
        .block-text{
          padding: 15px;
          p{
            font-size: 23px;
            color: #137893;
            font-weight: $regular;
            @include max-screen(768px){
              font-size: 15px;
            }
          }
        }
      }
    }
  }
}
.program-tour{
  background-image: url("../images/bg-program.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  .container-program{
    max-width: 1070px;
    padding: 15px;
    margin: auto;
    text-align: center;
    @include max-screen(768px){
      max-width: 420px;
    }
    @include max-screen(420px){
      max-width: 320px;
    }
    .circle{
      width: 85px;
      height: 85px;
      background-color: #137893;
      border-radius: 50%;
      overflow: hidden;
      padding-top: 22px;
      margin-bottom: 40px;
      display: inline-block;
      h4{
        font-size: 18px;
        color: #fff;
        font-weight: $bold;
        @include max-screen(768px){
          font-size: 13px;
        }
      }
    }
    .first-day{
      display: flex;
      justify-content: space-between;
      margin-bottom: 40px;
      @include max-screen(768px){
        display: block;
      }
      @include max-screen(420px){
        margin-bottom: 15px;
      }
      .left-part{
        max-width: 450px;
        text-align: left;
        padding-right: 50px;
        @include max-screen(920px){
          width: 400px;
        }
        @include max-screen(768px){
          text-align: center;
          padding-right: 0;
        }
        @include max-screen(420px){
          width: 290px;
        }
        h4{
          font-size: 16px;
          color: $color-black;
          margin-bottom: 60px;
          font-weight: $bold;
          @include max-screen(768px){
            margin-bottom: 30px;
          }
          @include max-screen(420px){
            font-size: 12px;
            margin-bottom: 15px;
          }
        }
        p{
          font-size: 16px;
          font-weight: $regular;
          color: $color-black;
          line-height: 25px;
          @include max-screen(768px){
            margin-bottom: 30px;
          }
          @include max-screen(420px){
            font-size: 12px;
            margin-bottom: 15px;
            max-width: 290px;
          }
        }

      }
      .mid-part{
        width: 3px;
        height: 260px;
        background-color: #137893;
        display: block;
        @include max-screen(768px){
          display: none;
        }
      }
      .right-part{
        width: 450px;
        height: 230px;
        border-radius: 4px;
        @include max-screen(920px){
          width: 400px;
        }
        @include max-screen(768px){
          margin-bottom: 80px;
          &:after{
            content: '';
            display: block;
            width: 100%;
            height: 3px;
            background-color: $color-black;
            margin-top: 10px;
          }
        }
        @include max-screen(420px){
          margin-bottom: 50px;
          width: 290px;
          height: 150px;
        }
        img{
          width: 100%;
          height: 100%;
        }
      }
    }
    a{
      text-transform: uppercase;
      font-size: 23px;
      color: $color_white;
      background: #ce4da2;
      padding: 28px 75px;
      margin: 50px 0;
      border-radius: 5px;
      display: inline-block;
      font-weight: $bold;
      @include max-screen(768px){
        font-size: 15px;
        padding: 15px 30px;
        margin: 25px 0;
      }
    }
  }
}
.go_with_us{
  background-image: url("../images/bg_go_with_us.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  .container_go{
    max-width: 1070px;
    padding: 15px 15px 65px;
    margin: auto;
    text-align: center;
    @include max-screen(768px){
      max-width: 400px;
      padding: 15px 15px 30px;
    }
    .main_go{
      display: flex;
      justify-content: space-between;
      @include max-screen(768px){
        display: block;
      }
      .part_go{
        max-width: 450px;
        display: flex;
        justify-content: space-between;
        @include max-screen(768px){
          display: block;
          margin-bottom: 50px;
          border: 1px solid #ccc;
          padding: 20px 0;
        }
        .avatar{
          width: 160px;
          height: 160px;
          border-radius: 50%;
          overflow: hidden;
          @include max-screen(768px){
            text-align: center;
            display: inline-block;
            margin-bottom: 20px;
          }
          img{
            width: 100%;
            height: 100%;
          }
        }
        .gid{
          text-align: left;
          margin-left: 30px;
          @include max-screen(768px){
            margin: 0;
            text-align: center;
          }
          h4{
            font-size: 20px;
            color: $color_black;
            text-transform: uppercase;
            margin-bottom: 40px;
            font-weight: $bold;
            @include max-screen(768px){
              margin-bottom: 20px;
            }
          }
          h5{
            font-size: 18px;
            text-transform: capitalize;
            margin-bottom: 18px;
            font-weight: $bold;
          }
          .fab{
            text-align: center;
            color: $color_white;
            width: 36px;
            height: 36px;
            border-radius: 50%;
            background: #84b5c2;
            font-size: 22px;
            padding: 6px;
            margin-right: 15px;
            &:hover{
              background: #013664;
            }
          }
        }
      }
    }
  }
}
.reviews{
  .container-reviews{
    max-width: 950px;
    padding: 15px;
    margin: auto;
    text-align: center;
    @include max-screen(420px){
      max-width: 100%;
      padding: 15px;
    }
    .owl-carousel{
      margin-bottom: 60px;
      @include max-screen(420px){
        margin-bottom: 20px;
      }
      .owl-nav{
        .owl-prev{
          &:after{
            content: "\f104";
            font-weight: 700;
            font-family: "Font Awesome 5 Free";
            display: block;
            color: #84b5c2;
            font-size: 50px;
            position: absolute;
            top: 170px;
            left: -50px;
          }
        }
        .owl-next{
          &:after{
            content: "\f105";
            font-weight: 700;
            font-family: "Font Awesome 5 Free";
            display: block;
            color: #84b5c2;
            font-size: 50px;
            position: absolute;
            top: 170px;
            right: -50px;
          }
        }
      }
      .main-carousel{
        display: flex;
        justify-content: space-between;
        @include max-screen(768px){
          display: block;
          text-align: center;
        }
        .reviews-block{
          max-width: 445px;
          border: 10px solid #f1efe6;
          padding: 17px 40px 30px 22px;
          text-align: left;
          @include max-screen(920px){
            max-width: 420px;
            display: inline-block;
            margin-bottom: 30px;
            border: 5px solid #f1efe6;
          }
          @include max-screen(420px){
            max-width: 290px;
            padding: 15px;
          }
          .reviews-top{
            display: flex;
            .reviews-avatar{
              width: 160px;
              height: 160px;
              border-radius: 50%;
              overflow: hidden;
              margin: 0 33px 33px 0;
              @include max-screen(420px){
                width: 100px;
                height: 100px;
                margin: 0;
              }
              img{
                width: 100%;
                height: 100%;
              }
            }
            .reviews-name{
              padding-top: 28px;
              @include max-screen(420px){
                padding-left: 15px;
              }
              h5{
                font-size: 18px;
                color: $color-black;
                margin-bottom: 20px;
                font-weight: $bold;
                @include max-screen(420px){
                  font-size: 15px;
                }
              }
            }
          }
          .reviews-text{
            p{
              font-size: 16px;
              color: $color-black;
              margin-bottom: 20px;
              font-weight: $regular;
              @include max-screen(420px){
                font-size: 15px;
              }
            }
            .date{
              text-align: right;
              font-weight: $regular;
              time{
                font-size: 18px;
                color: #515151;
                display: block;
                @include max-screen(420px){
                  font-size: 15px;
                }
              }
            }
          }
        }
      }
    }
    a{
      text-transform: uppercase;
      font-size: 17px;
      color: #e56abb;
      padding: 20px 50px;
      border: 3px solid #ff26b5;
      display: inline-block;
      border-radius: 5px;
      margin-bottom: 65px;
      font-weight: $bold;
      .fas{
        margin-right: 10px;
      }
      @include max-screen(420px){
        font-size: 15px;
        padding: 15px 30px;
        border: 2px solid #ff26b5;
        margin-bottom: 30px;
      }
    }
  }
}
.reservation{
  background: #137893;
  h3{
    color: $color_white;
    font-size: 33px;
    font-weight: $regular;
    @include max-screen(768px){
      font-size: 20px;
    }
  }
  span{
    font-weight: $bold;
  }
  .container-reservation{
    max-width: 950px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    @include max-screen(920px){
      max-width: 900px;
    }
    @include max-screen(768px){
      max-width: 400px;
      display: block;
    }
    @include max-screen(420px){
      max-width: 290px;
    }
    .reservation-left-part{
      padding-top: 94px;
      text-align: center;
      max-width: 400px;
      @include max-screen(768px){
        padding-top: 40px;
      }
      @include max-screen(420px){
        padding-top: 15px;
        max-width: 290px;
      }
      .avatar-reservation{
        width: 255px;
        height: 255px;
        border-radius: 50%;
        overflow: hidden;
        margin-bottom: 70px;
        display: inline-block;
        @include max-screen(768px){
          width: 150px;
          height: 150px;
          margin-bottom: 30px;
        }
        @include max-screen(420px){
          width: 100px;
          height: 100px;
          margin-bottom: 15px;
        }
        img{
          width: 100%;
          height: 100%;
        }
      }
    }
    .reservation-right-part{
      padding-bottom: 65px;
      text-align: center;
      max-width: 450px;
      @include max-screen(768px){
        padding-bottom: 30px;
        max-width: 400px;
      }
      @include max-screen(420px){
        max-width: 290px;
        padding-bottom: 15px;
      }
      h3{
        margin-top: 65px;
        text-transform: uppercase;
        margin-bottom: 26px;
        font-weight: $bold;
        @include max-screen(768px){
          margin-top: 30px;
        }
        @include max-screen(420px){
          margin-top: 30px;
          margin-bottom: 10px;
        }
      }
      h4{
        font-size: 25px;
        color: $color-white;
        margin-bottom: 23px;
        font-weight: $bold;
        @include max-screen(768px){
          font-size: 15px;
        }
      }
      .new-year-date{
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        @include max-screen(420px){
          display: block;
          margin-bottom: 15px;
        }
        .new-year-i{
          display: flex;
          justify-content: space-between;
          @include max-screen(420px){
            justify-content: center;
            margin-bottom: 10px;
          }
          .far{
            color: $color-white;
            font-size: 15px;
            margin-right: 8px;
          }
          h5{
            font-size: 13px;
            color: $color-white;
            text-transform: uppercase;
            font-weight: $regular;
          }
          .mountains{
            width: 40px;
            height: 20px;
            margin-right: 15px;
            display: flex;
            align-self: center;
            img{
              width: 100%;
              height: 100%;
            }
          }
        }
      }
      form{
        input{
          width: 100%;
          background: $color-white;
          padding: 23px 23px 23px 12px;
          font-size: 18px;
          color: #919191;
          margin-bottom: 36px;
          border: none;
          border-radius: 5px;
          @include max-screen(768px){
            font-size: 15px;
            padding: 15px 15px 15px 10px;
            margin-bottom: 20px;
          }
        }
        button{
          width: 100%;
          background: #e56abb;
          border-radius: 5px;
          color: $color-white;
          font-size: 30px;
          padding: 26px 85px;
          text-transform: uppercase;
          text-align: center;
          border: none;
          font-weight: $bold;
          cursor: pointer;
          @include max-screen(768px){
            font-size: 20px;
            padding: 15px;
          }
        }
      }
    }
  }
}
.contacts{
  background: #f1efe6;
  display: flex;
  @include max-screen(768px){
    display: block;
    padding: 0 15px;
  }
  .contacts-left-part{
    width: 760px;
    height: 490px;
    @include max-screen(1024px){
      width: 500px;
    }
    @include max-screen(768px){
      width: 100%;
      height: 300px;
    }
  }
  .contacts-right-part{
    margin-left: 70px;
    @include max-screen(768px){
      margin: 0;
      text-align: center;
    }
    h2{
      margin-left: 70px;
      @include max-screen(768px){
        margin: 0 0 30px 0;
      }
      @include max-screen(420px){
        margin: 0;
      }
    }
    .contacts-circle{
      width: 100px;
      height: 100px;
      border-radius: 50%;
      overflow: hidden;
      border: 3px solid #137893;
      text-align: center;
      padding-top: 20px;
      margin: 0 45px 45px 0;
      @include max-screen(768px){
        width: 50px;
        height: 50px;
        padding-top: 10px;
        display: inline-block;
        margin: 0;
      }
      .fas{
        color: #137893;
        font-size: 55px;
        @include max-screen(768px){
          font-size: 30px;
        }
      }
    }
    .contacts-address,.contacts-tel{
      display: flex;
      @include max-screen(768px){
        display: inline-block;
        margin: 15px 30px;
      }
    }
    .contacts-address-tel{
      h3{
        font-size: 24px;
        color: #137893;
        margin-top: 13px;
        font-weight: $regular;
        @include max-screen(420px){
          font-size: 15px;
        }
      }
    }
  }
}
footer {
  background: #f1efe6;
  border-top: 2px solid #70a9b9;
  padding: 25px 0;
  @include max-screen(768px){
    padding: 0;
  }

  .container-footer {
    max-width: 1145px;
    margin: auto;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    @include max-screen(768px){
      max-width: 600px;
    }
    @include max-screen(420px){
      max-width: 290px;
      display: block;
      text-align: center;
    }
    .footer-logo {
      width: 240px;
      height: 100px;
      @include max-screen(768px){
        width: 120px;
        height: 60px;
      }
      @include max-screen(420px){
        display: inline-block;
        margin-bottom: 15px;
      }
      img {
        width: 100%;
        height: 100%;
      }
    }

    .we-in {
      text-align: center;
      @include max-screen(420px){
        margin-bottom: 15px;
      }
      h3 {
        font-size: 24px;
        color: #137893;
        margin-bottom: 20px;
        font-weight: $regular;
        @include max-screen(768px){
          font-size: 12px;
          margin-bottom: 10px;
        }
      }

      .social-networks {
        .fab {
          width: 44px;
          height: 44px;
          background: #137893;
          font-size: 30px;
          color: #f1f1f1;
          margin: 0 28px;
          border-radius: 5px;
          text-align: center;
          padding-top: 6px;
          @include max-screen(920px){
            width: 35px;
            height: 35px;
            font-size: 25px;
            margin: 0 15px;
          }
          @include max-screen(768px){
            width: 25px;
            height: 25px;
            font-size: 15px;
            margin: 0 10px;
          }
          &:hover {
            background: #013664;
          }
        }
      }
    }

    .development {
      text-align: center;
      margin-top: 35px;
      @include max-screen(768px){
        margin-top: 0;
      }
      h4 {
        font-size: 14px;
        color: #137893;
        font-weight: $regular;
        @include max-screen(768px){
          font-size: 10px;
        }
      }
    }
  }
}
//====================================================================//
.modal{
  &:before{
    content: "";
    display: none;
    background: rgba(0, 48, 230, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
  }
  .form-header{
    background: #fefefe;
    border: #232222 solid 0;
    border-radius: 5px;
    margin-left: -200px;
    text-align:center;
    position: fixed;
    left: 50%;
    top: -100%;
    z-index: 11;
    width: 450px;
    transform: translate(0, -500%);
    transition: transform 0.3s ease-out;
    @include max-screen(420px){
      width: 290px;
      margin-left: -145px;
    }
    .form-body{
      border-bottom: #eeeeee solid 1px;
      padding: 10px 20px;
      h2{
        font-size: 20px;
      }
    }
    .inputForm{
      padding: 20px;
      input,textarea {
        width: 300px;
        padding: 8px;
        border: 1px solid #ddd;
        color: #888;
        outline: 0;
        font-size: 14px;
        font-weight: $bold;
        margin-top: 10px;
        @include max-screen(420px){
          width: 250px;
        }
      }
      textarea{
        height: 200px;
        resize: none;
      }
    }
    .buttonOK{
      padding: 10px 20px;
      .openForm{
        font-size: 20px;
        border-radius: 3px;
        color: $color-black;
        display: inline-block;
        padding: 10px 20px;
        text-decoration: none;
        text-align: center;
        min-width: 60px;
        position: relative;
      }
    }
  }
}


.openForm.window-big {
  font-size: 18px;
  padding: 15px 20px;
  min-width: 100px;
}
.window-close {
  color: #e60023;
  font-size: 30px;
  text-decoration: none;
  padding:10px;
  position: absolute;
  right: 7px;
  top: 0;
}

.active:before {
  display: block;
}
.active .form-header {
  transform: translate(0, 0);
  top: 20%;
}

